#select_first {
  background-color: #82f982 !important;
}

#select_second {
  background-color: #f33c3c !important;
}

.educationBlock-button {
  width: 100%;
  border-radius: 5px;
  padding: 12px 12px 0 12px;
  display: block;
  margin: 10px 0 0 0 !important;
  cursor: pointer;
}

.educationBlock-button p {
  max-width: 100%;
}

.educationBlock-button h5 {
  text-align: center;
}

.modal-footer {
  flex-wrap: wrap;
}
